/* incase an inverted custom gradient isn't specified */
/* line 14, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 107, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
section, article, aside, header, footer, nav, dialog, figure {
  display: block;
}

/* line 39, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #444444;
  font-size: 75%;
}

/* line 68, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #333333;
}
/* line 69, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

/* line 70, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}

/* line 71, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

/* line 72, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}

/* line 73, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

/* line 74, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}

/* line 75, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* line 76, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p {
  margin: 0 0 1.5em;
}
/* line 77, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 78, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}

/* line 80, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
a {
  text-decoration: underline;
  color: #000099;
}
/* line 18, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:visited {
  color: #000066;
}
/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:focus {
  color: black;
}
/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:hover {
  color: black;
}
/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:active {
  color: #cc0099;
}

/* line 81, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}

/* line 82, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
strong {
  font-weight: bold;
}

/* line 83, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
em {
  font-style: italic;
}

/* line 84, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dfn {
  font-style: italic;
  font-weight: bold;
}

/* line 85, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
sup, sub {
  line-height: 0;
}

/* line 86, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
abbr, acronym {
  border-bottom: 1px dotted #666666;
}

/* line 87, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 88, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
del {
  color: #666666;
}

/* line 89, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre {
  margin: 1.5em 0;
  white-space: pre;
}

/* line 90, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 91, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
li ul, li ol {
  margin: 0;
}

/* line 92, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}

/* line 93, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul {
  list-style-type: disc;
}

/* line 94, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ol {
  list-style-type: decimal;
}

/* line 95, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl {
  margin: 0 0 1.5em 0;
}
/* line 96, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl dt {
  font-weight: bold;
}

/* line 97, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dd {
  margin-left: 1.5em;
}

/* line 98, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
table {
  margin-bottom: 1.4em;
  width: 100%;
}

/* line 99, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th {
  font-weight: bold;
}

/* line 100, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
thead th {
  background: #c3d9ff;
}

/* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th, td, caption {
  padding: 4px 10px 4px 5px;
}

/* line 102, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
tr.even td {
  background: #e5ecf9;
}

/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
tfoot {
  font-style: italic;
}

/* line 104, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
caption {
  background: #eeeeee;
}

/* line 105, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.quiet {
  color: #777777;
}

/* line 106, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.loud {
  color: #222222;
}

/* line 93, ../src/stylesheet.scss */
body {
  background: #e4e2dd;
}

/* line 96, ../src/stylesheet.scss */
body.special {
  background: pink;
}

/* line 99, ../src/stylesheet.scss */
.container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 3px 3px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 3px 3px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.25) 0 3px 3px 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0 3px 3px 0;
  background: white;
  margin: 40px auto;
}

/* line 106, ../src/stylesheet.scss */
.main-header, .main-footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 139, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .main-header, * html .main-footer {
  overflow-x: hidden;
}

/* line 109, ../src/stylesheet.scss */
.main-section {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 630px;
}
/* line 139, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .main-section {
  overflow-x: hidden;
}

/* line 112, ../src/stylesheet.scss */
.main-rail {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
}
/* line 139, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .main-rail {
  overflow-x: hidden;
}

/* line 115, ../src/stylesheet.scss */
.inner {
  padding: 20px;
}

/* line 118, ../src/stylesheet.scss */
.main-header {
  background: #577db2;
}
/* line 120, ../src/stylesheet.scss */
.main-header h1 {
  color: white;
}
/* line 122, ../src/stylesheet.scss */
.main-header .main-nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  overflow: auto;
}
/* line 126, ../src/stylesheet.scss */
.main-header .main-nav ul li {
  float: left;
  margin-right: 1em;
}
/* line 129, ../src/stylesheet.scss */
.main-header .main-nav ul li a {
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  color: white;
  text-decoration: none;
  padding: 4px 8px;
  display: block;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  font-weight: bold;
  font-size: larger;
  text-shadow: 1px 1px 0 #334d70;
}
/* line 140, ../src/stylesheet.scss */
.main-header .main-nav ul li a:hover {
  background: #4b70a4;
}
/* line 142, ../src/stylesheet.scss */
.main-header .main-nav ul li a.current {
  background: #436493;
}

/* line 145, ../src/stylesheet.scss */
.main-footer {
  background: #cf6029;
  color: white;
}

/* line 153, ../src/stylesheet.scss */
.four04 p {
  font-size: 24px;
  text-align: center;
  margin: 100px 0;
}

/* line 161, ../src/stylesheet.scss */
body {
  color: #1a1919;
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #444444;
  font-size: 75%;
}

/* line 165, ../src/stylesheet.scss */
h1 {
  color: #577db2;
}

/* line 168, ../src/stylesheet.scss */
h2 {
  color: #cf6029;
}

/* line 171, ../src/stylesheet.scss */
h3 {
  color: #636463;
}

/* line 175, ../src/stylesheet.scss */
a:link {
  color: #335450;
}

/* line 178, ../src/stylesheet.scss */
a:visited {
  color: #5a938c;
}

/* line 181, ../src/stylesheet.scss */
a:hover {
  color: #cf6029;
}

/* line 184, ../src/stylesheet.scss */
a:active {
  color: #636463;
}

/* line 189, ../src/stylesheet.scss */
button, .overlay, .overlay:link {
  font-family: "Lucida Grande", Lucida, Arial, sans_serif;
  background: url('/images/button_bg.png?1281706461') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 21.6px;
  padding: 5px 18px;
  border-width: 1px;
  background-color: #2675e3;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #cad6e7), color-stop(10%, #8ba6ca), color-stop(50%, #4e75ab), color-stop(50%, #4a6ea1), color-stop(100%, #6588b8));
  background-image: -moz-linear-gradient(top, #cad6e7 0%, #8ba6ca 10%, #4e75ab 50%, #4a6ea1 50%, #6588b8 100%);
  background-image: linear-gradient(top, #cad6e7 0%, #8ba6ca 10%, #4e75ab 50%, #4a6ea1 50%, #6588b8 100%);
  border-color: #3b5881;
  text-shadow: #103c7a 0px 1px 1px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 16.8px;
  padding: 2px 11px;
  border-width: 1px;
}
/* line 172, ../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
button::-moz-focus-inner, .overlay::-moz-focus-inner, .overlay:link::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 175, ../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
button:focus, .overlay:focus, .overlay:link:focus {
  outline: none;
}
/* line 178, ../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
button.disabled, button[disabled], .overlay.disabled, .overlay[disabled], .overlay:link.disabled, .overlay:link[disabled] {
  opacity: 0.7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
}
/* line 183, ../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .overlay.disabled:hover, .overlay.disabled:focus, .overlay[disabled]:hover, .overlay[disabled]:focus, .overlay:link.disabled:hover, .overlay:link.disabled:focus, .overlay:link[disabled]:hover, .overlay:link[disabled]:focus {
  cursor: default;
}
/* line 152, ../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
button:active, .overlay:active, .overlay:link:active {
  padding: 4px 17px;
  border-width: 2px;
}
/* line 156, ../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
button.disabled:active, button[disabled], .overlay.disabled:active, .overlay[disabled], .overlay:link.disabled:active, .overlay:link[disabled] {
  padding: 5px 18px;
  border-width: 1px;
}
/* line 98, ../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
button, button:visited, .overlay, .overlay:visited, .overlay:link, .overlay:link:visited {
  color: white;
}
/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
button.disabled:active, button.disabled:hover, button[disabled]:active, button[disabled]:hover, .overlay.disabled:active, .overlay.disabled:hover, .overlay[disabled]:active, .overlay[disabled]:hover, .overlay:link.disabled:active, .overlay:link.disabled:hover, .overlay:link[disabled]:active, .overlay:link[disabled]:hover {
  background-color: #2675e3;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #cad6e7), color-stop(10%, #8ba6ca), color-stop(50%, #4e75ab), color-stop(50%, #4a6ea1), color-stop(100%, #6588b8));
  background-image: -moz-linear-gradient(top, #cad6e7 0%, #8ba6ca 10%, #4e75ab 50%, #4a6ea1 50%, #6588b8 100%);
  background-image: linear-gradient(top, #cad6e7 0%, #8ba6ca 10%, #4e75ab 50%, #4a6ea1 50%, #6588b8 100%);
  border-color: #3b5881;
  text-shadow: #103c7a 0px 1px 1px;
}
/* line 98, ../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
button.disabled:active, button.disabled:active:visited, button.disabled:hover, button.disabled:hover:visited, button[disabled]:active, button[disabled]:active:visited, button[disabled]:hover, button[disabled]:hover:visited, .overlay.disabled:active, .overlay.disabled:active:visited, .overlay.disabled:hover, .overlay.disabled:hover:visited, .overlay[disabled]:active, .overlay[disabled]:active:visited, .overlay[disabled]:hover, .overlay[disabled]:hover:visited, .overlay:link.disabled:active, .overlay:link.disabled:active:visited, .overlay:link.disabled:hover, .overlay:link.disabled:hover:visited, .overlay:link[disabled]:active, .overlay:link[disabled]:active:visited, .overlay:link[disabled]:hover, .overlay:link[disabled]:hover:visited {
  color: white;
}
/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
button:hover, button:focus, .overlay:hover, .overlay:focus, .overlay:link:hover, .overlay:link:focus {
  background-color: #1d6ddd;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #c0cee2), color-stop(10%, #819dc5), color-stop(50%, #4a6ea1), color-stop(50%, #456796), color-stop(100%, #5a80b4));
  background-image: -moz-linear-gradient(top, #c0cee2 0%, #819dc5 10%, #4a6ea1 50%, #456796 50%, #5a80b4 100%);
  background-image: linear-gradient(top, #c0cee2 0%, #819dc5 10%, #4a6ea1 50%, #456796 50%, #5a80b4 100%);
  border-color: #365177;
  text-shadow: #0e356c 0px 1px 1px;
}
/* line 98, ../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
button:hover, button:hover:visited, button:focus, button:focus:visited, .overlay:hover, .overlay:hover:visited, .overlay:focus, .overlay:focus:visited, .overlay:link:hover, .overlay:link:hover:visited, .overlay:link:focus, .overlay:link:focus:visited {
  color: white;
}
/* line 33, ../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
button:active, .overlay:active, .overlay:link:active {
  background-color: #1b66d0;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #4a6ea1), color-stop(30%, #4d73a8), color-stop(50%, #46699a), color-stop(50%, #42628f), color-stop(100%, #5e82b5));
  background-image: -moz-linear-gradient(top, #4a6ea1 0%, #4d73a8 30%, #46699a 50%, #42628f 50%, #5e82b5 100%);
  background-image: linear-gradient(top, #4a6ea1 0%, #4d73a8 30%, #46699a 50%, #42628f 50%, #5e82b5 100%);
  border-color: #324a6c;
  text-shadow: #0c2f5f 0px -1px -1px;
}
/* line 98, ../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
button:active, button:active:visited, .overlay:active, .overlay:active:visited, .overlay:link:active, .overlay:link:active:visited {
  color: white;
}
/* line 152, ../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
button:active, .overlay:active, .overlay:link:active {
  padding: 1px 10px;
  border-width: 2px;
}
/* line 156, ../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
button.disabled:active, button[disabled], .overlay.disabled:active, .overlay[disabled], .overlay:link.disabled:active, .overlay:link[disabled] {
  padding: 2px 11px;
  border-width: 1px;
}

/* line 194, ../src/stylesheet.scss */
button:active {
  border-width: 2px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 16.8px;
  padding: 2px 11px;
  border-width: 2px;
}
/* line 152, ../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
button:active:active {
  padding: 1px 10px;
  border-width: 3px;
}
/* line 156, ../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
button:active.disabled:active, button:active[disabled] {
  padding: 2px 11px;
  border-width: 2px;
}

/* line 200, ../src/stylesheet.scss */
.simplemodal-overlay {
  background: black;
}

/* line 203, ../src/stylesheet.scss */
.simplemodal-container {
  width: 660px;
  height: 340px;
  background: white;
  -moz-box-shadow: #333333 1px 1px 5px 0;
  -webkit-box-shadow: #333333 1px 1px 5px 0;
  -o-box-shadow: #333333 1px 1px 5px 0;
  box-shadow: #333333 1px 1px 5px 0;
  position: relative;
  text-align: center;
}

/* line 211, ../src/stylesheet.scss */
.simplemodal-close:link {
  position: absolute;
  top: 0;
  right: 0;
  text-transform: uppercase;
  background: #5a938c;
  color: white;
  text-decoration: none;
  font-size: smaller;
  padding: 0 4px;
}

/* line 222, ../src/stylesheet.scss */
.simplemodal-close:hover {
  background: #cf6029;
}

/* line 225, ../src/stylesheet.scss */
.overlay, .overlay:link {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 21.6px;
  padding: 5px 18px;
  border-width: 2px;
  color: white;
}
/* line 152, ../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
.overlay:active, .overlay:link:active {
  padding: 4px 17px;
  border-width: 3px;
}
/* line 156, ../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.5.5/lib/stylesheets/_fancy-buttons.sass */
.overlay.disabled:active, .overlay[disabled], .overlay:link.disabled:active, .overlay:link[disabled] {
  padding: 5px 18px;
  border-width: 2px;
}

/* line 234, ../src/stylesheet.scss */
.slideshow-wrapper {
  width: 100%;
  overflow: auto;
  clear: both;
}

/* line 239, ../src/stylesheet.scss */
.slideshow {
  float: left;
}

/* line 242, ../src/stylesheet.scss */
.slides {
  background: white;
  -moz-box-shadow: #333333 1px 1px 5px 0;
  -webkit-box-shadow: #333333 1px 1px 5px 0;
  -o-box-shadow: #333333 1px 1px 5px 0;
  box-shadow: #333333 1px 1px 5px 0;
  border: 1px solid gray;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  position: relative;
  height: 300px;
  width: 400px;
  float: left;
  margin: 15px;
  cursor: pointer;
}
/* line 253, ../src/stylesheet.scss */
.slides div {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

/* line 260, ../src/stylesheet.scss */
.slidetabs-wrapper {
  overflow: auto;
  clear: both;
  width: 100%;
}

/* line 265, ../src/stylesheet.scss */
.slidetabs {
  width: 45px;
  margin: 0 auto;
}
/* line 268, ../src/stylesheet.scss */
.slidetabs a {
  width: 8px;
  height: 8px;
  float: left;
  margin: 3px;
  background: red;
  display: block;
  font-size: 1px;
}
/* line 276, ../src/stylesheet.scss */
.slidetabs a:hover {
  background: blue;
}
/* line 278, ../src/stylesheet.scss */
.slidetabs a.current {
  background: yellow;
}

/* line 281, ../src/stylesheet.scss */
.slidecontrols {
  margin-top: 5px;
  text-align: center;
}

/* line 285, ../src/stylesheet.scss */
.backward, .forward {
  float: left;
  background: red;
  display: block;
  cursor: pointer;
  margin-top: 160px;
}

/* line 294, ../src/stylesheet.scss */
.ui-widget-header {
  background: #cf6029;
}
